.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 0px 90px; */
}
.home-content{
  display: flex;
}
.home-categories{
  display: flex;
  flex-direction: column;
}
.home-books{
  display: flex;
  width: 857px;
  flex-wrap: wrap;
}
